@font-face {
  font-family: Jost-Medium;
  src: url('/src/fonts/jost/static/Jost-Medium.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('/src/fonts/poppins/Poppins-Light.ttf');
}

.boxContent {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #a7a3a3;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 12pt Poppins-Light;
  }
  
  .invalid{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #AB291B;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 12pt Poppins-Light;
  }
  .showPassword{
    position: relative;
    display: flex;
    align-items: center;
  }
  .showPasswordIcon {
    width: 30px;
    position: absolute;
    right: 30px;
    transform: translate(-50%, -50%);
    top: 59%;
    cursor: pointer;
  }