@font-face {
  font-family: Jost-Medium;
  src: url('/src/fonts/jost/static/Jost-Medium.ttf');
}

@font-face {
  font-family: Poppins-Light;
  src: url('/src/fonts/poppins/Poppins-Light.ttf');
}

.boxContent {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
  }

  
  button {
    width: 50%;
    padding: 15px;
    background-color: #2F8290;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1s;
    font: normal 14pt Poppins-Light;
  }
  
  button:hover {
    background-color: #21626D;
  }
  
  h1 {
    font: normal 25pt Jost-Medium;
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  label {
    font: normal 15pt Poppins;
    display: block;
    margin-top: 15px;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #a7a3a3;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 12pt Poppins-Light;
  }
  
  .invalid{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #AB291B;
    border-radius: 5px;
    box-sizing: border-box;
    font: normal 12pt Poppins-Light;
  }
  .showPassword{
    margin-bottom: 10px;
  }
  .showPasswordIcon {
    width: 30px;
    padding: 0px;
    position: absolute;
    right: 45px;
    top: 61%;
    transform: translateY(-50%);
    cursor: pointer;
  }