@font-face {
  font-family: Poppins-Light;
  src: url('/src/fonts/poppins/Poppins-Light.ttf');
}

.App {
  text-align: center;
}

body{
  background-color: #4C8F9D;
}

button {
  width: 50%;
  padding: 15px;
  background-color: #2F8290;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 1s;
  font: normal 14pt Poppins-Light;
}

button:hover {
  background-color: #21626D;
}

h1 {
  font: normal 25pt Jost-Medium;
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
}

label {
  font: normal 15pt Poppins;
  display: block;
  margin-top: 15px;
  color: #555;
}

.navBar{
  background-color: #21626D;
  padding: 10px;
  display: flex;
  justify-content: right;
}

.navBar a{
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border: 1px solid white;
  margin-right: 10px;
  transition: 1s;
  font: normal 13pt Poppins-Light;
}

.navBar a:hover{
  background-color: white;
  color: #2F8290;
}